/*thanh dau trang r1*/

.top-logo-center{
    text-align: left;
}
* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    margin-top: 15px;
    padding: 10px;
    height:25px;
    font-size: 17px;
    border: 1px solid rgb(156, 155, 155);
    float: left;
    width: 80%;
  }
  
  /* Style the submit button */
  form.example button {
    margin-top: 15px;
    height:25px;
    float: left;
    width: 25px;
    padding: 5px;
    background:white;
    color: rgb(33, 2, 90);
    font-size: 17px;
    background-color:white; 
    border: 1px solid rgb(156, 155, 155);
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #fff;
  }

  .phone{
    margin-top: 15px;
  }

  .cart{
    margin-top: 15px;
  }
 
/*thanh dau trang r2*/
.r2{
  background-color:rgb(155, 151, 151); 
}